[submodule "plugins/python"]
	path = plugins/python
	url = git@github.com:mattmc3/fish-python.git
[submodule "plugins/up"]
	path = plugins/up
	url = git@github.com:mattmc3/fish-up.git
[submodule "plugins/prompt"]
	path = plugins/prompt
	url = git@github.com:mattmc3/fish-prompt.git
